OSIT_LOCAL_ADMIN_PASSWORD=replace-with-real-password-before-initialising-usb
OSIT_WIFI_PASSWORD=replace-with-onesolution-wifi-password-before-initialising-usb
OSIT_SMTP_PASSWORD=replace-with-smtp-password-before-initialising-usb
